# --- Core ---
Flask==3.1.2
python-dotenv==1.2.1

# --- LangChain ---
langchain==0.2.16
langchain-community==0.2.16
langchain-core==0.2.38
langchain-text-splitters==0.2.4

# --- Vector DB ---
pinecone-client==2.2.4

# --- LLM ---
groq==1.0.0

# --- Utils ---
requests==2.32.5
